---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <span class="post-meta"><time datatime="{{ page.date | date_to_string }}">{{ page.date | date_to_string }}</time></span>
  <div class="past-meta-divider"></div>
  <div class="date">
    Written on {{ page.date | date_to_string }}
  </div>
  <div class="entry">
    {{ content }}
  </div>

  {% if site.disqus %}
  <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}
</article>
