/* index.html */
#lunBo{ 
	position: relative;
	width: 748px;
	height: 352px;
	display: block;
	overflow: hidden;
}
#js-list1 {
	position: absolute;
	width: 400%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#js-list1 li {
 	width: 25%;
 	height: 100%;
 	float: left;
 	display: inline;
 	list-style-type: none;
 }
#js-list1 li img {
 	width: 748px;
 	height: 352px;
 } 
#js-list2 {
	position: absolute;
	right: 45%;
	bottom: 0;
}
#js-list2 li {
	float: left;
	display: inline;
	border: 1px solid black;
	border-radius: 50%;
	background: white;
	margin-right: 5px;
	padding: 5px;
}
#js-list2 li.active {
 	background-color: yellow;
 } 
.reletiveNew a:link, .rightContent a:visited {
	color: black;
	text-decoration: none;
}
.reletiveNew a:hover {
	color: white;
}
 .div_1,.div_2,.div_3,.div_4 {
	width: 346px;
	height: 180px;
	font-size: 120%;
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
} 
.div_1,.div_3 {
	float: left;
}
.div_2, .div_4 {
	margin: 10px 0px 10px 380px;
}
.div_1 {
	background-color: #53acd9;	
}
.div_2 {
	background-color: #4a96bd;	
}
.div_3 {
	background-color: #306580;
}
.div_4 {
	background-color: #254c61;	
}