/* photo.html特有的样式 */
.photo ul {
	margin: 0px;
}
.photo ul li {
	display: inline-block;
	list-style-type: none;
}
.photo .all {
	position: relative;
	width: 200px;
	height: 280px;
	background-color: white;
	border: 1px black;
	margin: 0px 20px 20px 0px;
	padding: 5px;
}
.photo .all .top {
	position: absolute;
	top: 5px;
	width: 200px;
	height: 240px;
}
.photo .all .top img{
	width: 200px;
	height: 240px;
}
.photo .all .bottom {
	position: absolute;
	bottom: 5px;
	width: 190px;
	height: 25px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}
