/* study.html和life.html特有的样式 */
.study, .life {
	font-family: '微软雅黑' '宋体';
	border: 4px solid #53acd9;
	border-radius: 10px;
	background-image: url(../images/passage.png);
	margin: 10px 0px;
	padding: 10px 10px 10px 20px;
}
.study h2, .life h2 {
	margin: 10px 10px 10px 0px;
}
.study .title img, .life .title img {
	width: 100%;
	height: 400px;
}
.life .emphysize {
	color: #4ec0f2;
}